<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Changelog</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">


</head>
<body>
<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h3 class="display-5 ">Main features of Project Made By: Devesh, Mukul, Gitesh</h3>
            <p class="lead text-secondary">Version Control Used: Pycharm VCS & Git VCS</p>
            <hr>
            <p>
            <h4>Python: v_3.6.8</h4>
            <h4>Django: v_1.11.20</h4>
            <h4>Bootstrap: v_4.3.7</h4>
            </p>
        </div>
    </div>
</div>

<div class="container">
    <p class="m-2">&nbsp;</p>

    <table class="table">
        <thead>
        <tr class="table-active">
            <th scope="col">Features Added:</th>
        </tr>
        </thead>
        <tbody>
        <tr scope="row" class="table-danger">
            <td>Added ChatBot Validations for Online Interaction</td>
        </tr>
        <tr scope="row" class="table-warning">
            <td>Added Contact us Validations with reCaptcha form offline Interaction</td>
        </tr>
        <tr scope="row" class="table-danger">
            <td>Added 2 step Customer Registration Verification using hidden URL</td>
        </tr>
        <tr scope="row" class="table-warning">
            <td>Made Website online with SSL Https Certificate</td>
        </tr>
        <tr scope="row" class="table-danger">
            <td>Added Payment Stripe Gateway <a href="https://testdriven.io/blog/django-stripe-tutorial/">Click It Mukul and Devesh for Docs</a></td>
        </tr>
        <tr scope="row" class="table-danger">
            <td>Added Blog on Heroku <a href="https://djangoproject10.herokuapp.com/">Visit Blog</a></td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>
</html>