{% load staticfiles %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">

<link href="{% static 'css/flexslider.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"/>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
