{% load staticfiles %}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.flexslider-min.js' %}"></script>

{#<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>#}
<script type="text/javascript" src="js/jquery.flexslider-min.js"></script>

