{% extends 'Main/index.html' %}
{% load staticfiles %}
{% block title %}Services{% endblock %}
{% block about %}{% endblock %}
{% block portfolio %}{% endblock %}
{% block blog %}{% endblock %}
{% block content %}

{#<section class="alldiv" id="section-2">#}
{#    <div class="container">#}
{#        <div class="col-md-9 col-sm-9 col-xs-12">#}
{#            <div class="section-2-left">#}
{#                <h2>Like this theme?</h2>#}
{#                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm incididunt ut labore et dolore#}
{#                    magna aliqua. Ut enim ad minim venia, nostrud exercitation ullamco.</p>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-md-3 col-sm-3 col-xs-12">#}
{#            <div class="purchase-btn"><a href="#" title="Purchase Now">Purchase Now&nbsp;&nbsp;&nbsp;<i#}
{#                    class="fa fa-shopping-cart"></i></a></div>#}
{#        </div>#}
{#    </div>#}
{#</section>#}

{##}
{#<section class="alldiv">#}
{#    <div class="container">#}
{#        <div class="section-1-header">#}
{#            <h2><a href="#" title="SERVICES">WANT TO KNOW MORE ABOUT US? WATCH OUR VIDEO HERE.</a></h2>#}
{#            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm incididunt ut labore et dolore#}
{#                magna aliqua. Ut enim ad minim venia, nostrud exercitation ullamco. Aenean commodo ligula eget dolor#}
{#                aenean massa.</p>#}
{#        </div>#}
{#        <div class="section-1-body" style="text-align:center">#}
{#            <iframe src="https://www.youtube.com/embed/nrJtHemSPW4?rel=0&amp;showinfo=0" allowfullscreen="" width="100%"#}
{#                    height="300"></iframe>#}
{#        </div>#}
{#    </div>#}
{#</section>#}

{% endblock %}
